---
layout: default
title: GitLab for Enterprise
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
---
.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1 GitLab for the Enterprise
        %h2 Join us live! Choose a date below.
  .centered-form
    .centered-form-info
      GitLab for the Enterprise brings all the necessary tools for modern development into a single UI. In this demo, you'll get a first-hand look at how GitLab integrates version control, project management, code review, testing, and deployment to help enterprise teams move faster from planning to monitoring.
      %br/
      %br/
      We'll show GitLab's built-in:
      %ul
        %li End-to-end workflow
        %li Code review tools
        %li Continuous integration and deployment
        %li Production monitoring

    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1419
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1419, function(form) {
        form.onSuccess(function() {
          form.getFormElem().hide();
          $('.confirmform').attr('style', 'visibility: visible');
          return false;
        });
      });
    .confirmform{style: "visibility:hidden;"}
      .centered-form-info
        %h3 Submission received!
        %p Registration received! We look forward to showing you GitLab for Enterprises.
